$breakpoint0:       1024px;
$breakpoint1:        960px;
$breakpoint2:        768px;
$breakpoint3:        480px;

$brand-pink:        #ef2463;
$brand-red:         #902d3f;
$brand-black:       #282828;
$brand-dark:        #333333;
$brand-blue:        #0e5aa5;
$brand-light:       #cccccc;