@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
$italicFont: 'Kaushan Script', cursive;

@import url('https://fonts.googleapis.com/css?family=Quicksand');
$bodyFont: 'Quicksand', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Varela+Round');
$headerFont: 'Varela Round', sans-serif;