@import "colours";
@import "fonts";
@import "furniture";

.display-none {
    display: none;
}

.devices-wide {
    display: none;
}

.visuallyhidden { 
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

.introduction {

    &.no-header {
        padding-top: 45px;
        min-height: 180px;
    }
}

.tertiary-carousel {

    .slide {
        width: 100%;
        height: 390px; 
        position: relative;
    }

    .owl-dots {
        display: none;
    }

    &.members-carousel {
        border: 1px solid $brand-light;

        a {
            display: block;
            width: 100%;
            height: 390px;
            padding-top: 40px;

            &:hover {
                text-decoration: none;
            }

            img {
                max-width: 70%;
                display: block;
                margin: 0 auto 30px;
                width: auto;
            }
        }

        h2 {
            color: $brand-pink;
            border-bottom: 1px solid $brand-light;
            display: inline-block;
            margin-bottom: 50px;
            padding: 0 30px 15px;
        }
    }
}

.hero-carousel {
    height: 360px;
    background: lighten($brand-light, 30%);
    position: relative;

    .slide {
        height: 360px;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        transition: opacity 1000ms;

        &.active {
            opacity: 1;
        }

        .title {
            color: $brand-blue;
            text-transform: uppercase;
            letter-spacing: 0;
            font-size: 2.6rem;
            background-color: rgba(255, 255, 255, 0.8);
            line-height: 100%;
            padding: 12px 20px;
            margin-top: 30px;
            border-radius: 10px;

            @media (min-width: $breakpoint2){
                width: 45%;
                font-size: 3.2rem;
            }
        }
    }

    .dots {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        ul {
            margin: 0;
            list-style: none;
            text-align: right;
            background: white;
            display: inline-block;
            padding: 6px 10px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }

        li {
            display: inline-block;
            margin-right: 5px;
            margin-left: 5px;
        }

        span {
            display: inline-block;
            background: lighten($brand-dark, 50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;

            &.active {
                background: $brand-pink;
            }
        }
    }
}

.owl-prev,
.owl-next {
    transition: all 0.33s;
    position: absolute;
    width: 39px;
    height: 39px;
    display: block;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    left: -5px;
    opacity: 0.8;
    background: url("../images/bg-arrow-left.png") center center no-repeat lighten($brand-blue, 20%) !important;

    &:hover {
        opacity: 1;
        background: url("../images/bg-arrow-left.png") center center no-repeat $brand-pink !important;
    }

    > span {
        display: none;
    }
}

.owl-next {
    right: -5px;
    left: auto;
    background: url("../images/bg-arrow-right.png") center center no-repeat lighten($brand-blue, 20%) !important;

    &:hover {
        background: url("../images/bg-arrow-right.png") center center no-repeat $brand-pink !important;
    }
}

@media (min-width: $breakpoint2){
    .devices-wide {
        display: block;
    }

    .devices-narrow {
        display: none;
    }
}

body {
    background: #ffffff;
    color: $brand-dark;
    font-size: 16px;
}

.social-media {
    list-style: none;
    margin: 0;
    padding: 5px 0 0 0;
    width: 100%;
    text-align: right;

    li {
        display: inline;
        margin: 0;
        padding: 0 5px;

        &:nth-last-child(1){
            padding-right: 0;
            a {
                padding-right: 0;
            }
        }
    }

    a {
        display: inline-block;
        padding: 3px;
        color: $brand-blue;
    }
}

.main-navigation {

    text-align: right;    
    position: relative;
    height: 100px;

    .logo {
        position: absolute;
        top: 15px;
        left: 0;
        display: block;
        z-index: 10;

        img {
            display: block;
            width: 260px;
        }

        @media (min-width: $breakpoint2){
            top: -15px;

            img {
                display: block;
                width: 380px;
            }
        }
    }

    .devices-wide,
    .devices-narrow {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    ul {

        list-style: none;
        margin: 0;
        width: 100%;
        text-align: right;

        li {
            display: inline;
            margin: 0;
            padding: 0 5px;

            &:nth-last-child(1){
                padding-right: 0;

                a {
                    padding-right: 0;
                }
            }
        }

        a {
            display: inline-block;
            padding: 15px 7px;
            color: $brand-blue;
            font-weight: bold;
            font-size: 1.8rem;

            &:hover,
            &.active {
                text-decoration: none;
                color: $brand-pink;
            }
        }
    }

    .mobile-navigation-trigger {
        font-size: 3rem;
    }
}

.hero-carousel {
    height: 360px;
    background: $brand-blue;
}



.introduction {
    padding: 15px 0;
    text-align: center;
    position: relative;

    @media (min-width: $breakpoint2){
        padding: 20px 80px;
    }
}

.hero {
    width: 100%;
    display: block;
}

.pod {
    height: 390px;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;

    @media (min-width: $breakpoint2){
        margin-bottom: 30px;
    }
}

.intro-pod {

    p {
        text-align: left;
    }

    img {
        width: 100px;
        margin-bottom: 15px;
    }
}

.secondary-carousel {
    border: 1px solid $brand-light;
    width: 100%;
    height: 390px;
}

.sister-site {
    position: relative;
    height: 390px;

    .copy {
        position: absolute;
        bottom: 0;
        left: 0;
        background: #ffffff;
        background: rgba(255, 255, 255, 0.9);
        width: 100%;
        height: 50%;
        padding: 15px 20px 5px 20px;
    }

    img {
        position: absolute;
        top: -150px;
        left: 50%;
        margin-left: -85px;
    }

    p {
        color: $brand-dark;
        font-size: 1.6rem;
        text-align: left;
    }
}

.footer {
    height: 225px;
    position: relative;
    border-bottom: 10px solid $brand-light;
    background: $brand-blue;

    ul {
        list-style: none;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 0 10px 0;
    
        li {
            display: inline;

            a {
                display: inline-block;
                color: #ffffff;
                font-size: 1.7rem;
                font-weight: 100;
                padding: 10px 12px;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .tel-link {
        color: #ffffff;

        &:hover {
            text-decoration: none;
        }
    }

    .copyright {
        text-align: center;
        padding:30px 0 0 0;
        margin-bottom: 0;
        color: #ffffff;
        font-size: 1.7rem;
    }

    .address {
        color: $brand-cream;
        font-size: 1.5rem;
        text-align: center;
    }

    @media (min-width: $breakpoint2){
        border-bottom: 20px solid #dddddd;
        background: url("../images/bg-footer.png") top right no-repeat $brand-blue;

        .copyright {
            padding: 12px 45px 0 0;
            float: left;
        }

        ul {
            padding: 0;
            justify-content: flex-start;
    
            li {
                display: inline;
                padding: 0 10px 15px 0;
    
                &:first-child{
                    a {
                        padding-left: 0;
                    }
                }
            }
        }

        .address {
            text-align: left;
        }
    }
}

.skirt {
    position: absolute;
    width: 255px;
    height: 150px;
    background: url("../images/bg-footer-fruit.png") 0 0 no-repeat;
    background-size: cover;
    bottom: -15px;
    left: 50%;
    margin-left: -126px;
    margin-bottom: 5px solid #ffffff;
    display: none;

    @media (min-width: $breakpoint2){
        display: block;
    }
}

.hero {
    background-size: cover;
    height: 360px;
    background-position: center center;
}

.italics {
    * {
        font-family: $italicFont !important;
        font-size: 3rem !important;
    }
}

.member-image,
.news-image {
    margin-bottom: 15px;

    img {
        display: block;
        width: 100%;
    }

    @media (min-width: $breakpoint2){
        margin-bottom: 45px;
    }
}

.contact-image {
    margin-bottom: 10px;
    text-align: center;

    img {
        display: inline-block;
    }

    @media (min-width: $breakpoint2){
        margin-bottom: 30px;
    }
}

.member-image {

    @media (max-width: $breakpoint2){
        text-align: center;

        img {
            width: auto;
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }
    }
}

.contact-form,
.contact-detail,
.news-detail,
.member-detail {
    margin-bottom: 30px;

    @media (min-width: $breakpoint2){
        margin-bottom: 45px;
    }
}

.member-address {
    margin-bottom: 0px;

    p {
        font-size: 1.6rem;
    }

    @media (min-width: $breakpoint2){
        margin-bottom: 45px;
    }
}

.member-detail {
    @media (min-width: $breakpoint2){
        padding-top: 30px;
    }
}

.news-detail {
    position: relative;

    .download-pdf-link {
        font-weight: bold;
        margin-bottom: 15px;
        display: inline-block;
    }

    @media (min-width: $breakpoint2){
        padding-left: 60px;

        .download-pdf-link {
            position: absolute;
            left: 10px;
            top: 7px;
            text-indent: -9000px;
            background-image: url('../images/download-pdf.png');
            background-position: 0 0;
            background-repeat: no-repeat;
            width: 40px;
            height: 53px;
            background-size: cover;

            i {
                display: none;
            }
        }
    }

    .date {
        margin-top: -12px;
        margin-bottom: 10px;
        font-size: 1.8rem;

        @media (min-width: $breakpoint2){
            margin-bottom: 30px;
        }
    }

    [data-story="excerpt"],
    [data-toggle="expand"] {
        display: block;

        > i {
            margin-left: 15px;
        }
    }
    [data-story="full-story"],
    [data-toggle="collapse"] {
        display: none;

        > i {
            margin-left: 15px;
        }
    }
    
    &.full {
        [data-story="excerpt"],
        [data-toggle="expand"] {
            display: none;
        }
        [data-story="full-story"],
        [data-toggle="collapse"] {
            display: block;
        }
    }
}

.contact,
.news,
.member {
    float: left;
    padding-top: 15px;
    width: 100%;

    @media (min-width: $breakpoint2){
        padding-top: 45px;
        border-top: 1px solid lighten($brand-light, 15%);
    }
}

.contact-form {

    label {
        display: none;
    }

    textarea {
        resize: none;
        height: 200px;
    }

    .error-span {
        color: red;
        margin-top: 3px;
        margin-bottom: -5px;
        font-size: 1.3rem;
        display: none;
    }

    .error {

        input {
            border-color: red;
        }

        .error-span {
            display: block;
        }
    }


    @media (min-width: $breakpoint2){

        .error-span {
            margin-top: -10px;
            margin-bottom: 2px;
        }

        textarea::placeholder,
        input::placeholder {
            color: #ffffff;
        }

        label {
            display: block;
            padding-top: 5px;

            span {
                color: lighten($brand-dark, 30%);
                font-weight: normal;
            }
        }

        input,
        textarea {
            margin-bottom: 12px;
        }
    }
}

// mobile navigation
#menu {
    background: #ffffff;
    text-transform: uppercase;

    a {
        color: $brand-black;
        font-size: 1.5rem;
        padding: 15px 40px;
    }
}