@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@font-face {
  font-family: 'kaushan_scriptregular';
  src: url("fonts/kaushanscript-regular-webfont.woff2") format("woff2"), url("fonts/kaushanscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bebasregular';
  src: url("fonts/BEBAS-webfont.eot");
  src: url("fonts/BEBAS-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/BEBAS-webfont.woff") format("woff"), url("fonts/BEBAS-webfont.ttf") format("truetype"), url("fonts/BEBAS-webfont.svg#bebasregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hvd_posterregular';
  src: url("fonts/HVD_Poster-webfont.eot");
  src: url("fonts/HVD_Poster-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/HVD_Poster-webfont.woff") format("woff"), url("fonts/HVD_Poster-webfont.ttf") format("truetype"), url("fonts/HVD_Poster-webfont.svg#hvd_posterregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'cabinmedium';
  src: url("fonts/cabin-medium-webfont.woff2") format("woff2"), url("fonts/cabin-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'cabinregular';
  src: url("fonts/cabin-regular-webfont.woff2") format("woff2"), url("fonts/cabin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BebasNeuewebfont';
  src: url("fonts/BebasNeuewebfont.eot");
  src: local("BebasNeuewebfont"), url("fonts/BebasNeuewebfont.woff") format("woff"), url("fonts/BebasNeuewebfont.ttf") format("truetype"); }

* {
  outline: none; }

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0 0 15px 0;
  line-height: 120%; }

p {
  color: #333333;
  font-weight: 300; }

h1 {
  font-size: 3.6rem;
  color: #ef2463; }
  @media (min-width: 768px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-size: 2.8rem; }
  @media (min-width: 768px) {
    h2 {
      font-size: 3.2rem; } }

h4 {
  font-weight: 400; }

.btn {
  background: #902d3f;
  color: #ffffff;
  transition: all 0.25s;
  border-radius: 6px;
  font-size: 1.6rem; }
  .btn:hover {
    background: #ef2463;
    color: #ffffff; }
  .btn:focus, .btn:active {
    background: #902d3f;
    color: #ffffff;
    outline: none; }

.display-none {
  display: none; }

.devices-wide {
  display: none; }

@media (min-width: 768px) {
  .devices-wide {
    display: block; }
  .devices-narrow {
    display: none; } }

body {
  background: #ffffff;
  color: #333333;
  font-size: 16px; }

.social-media {
  list-style: none;
  margin: 0;
  padding: 5px 0 0 0;
  width: 100%;
  text-align: right; }
  .social-media li {
    display: inline;
    margin: 0;
    padding: 0 5px; }
    .social-media li:nth-last-child(1) {
      padding-right: 0; }
      .social-media li:nth-last-child(1) a {
        padding-right: 0; }
  .social-media a {
    display: inline-block;
    padding: 3px;
    color: #0e5aa5; }

.main-navigation {
  text-align: right;
  position: relative;
  height: 100px; }
  .main-navigation .logo {
    position: absolute;
    top: 15px;
    left: 0;
    display: block;
    z-index: 10; }
    .main-navigation .logo img {
      display: block;
      width: 260px; }
    @media (min-width: 768px) {
      .main-navigation .logo {
        top: -15px; }
        .main-navigation .logo img {
          display: block;
          width: 380px; } }
  .main-navigation .devices-wide,
  .main-navigation .devices-narrow {
    position: absolute;
    bottom: 0;
    right: 0; }
  .main-navigation ul {
    list-style: none;
    margin: 0;
    width: 100%;
    text-align: right; }
    .main-navigation ul li {
      display: inline;
      margin: 0;
      padding: 0 5px; }
      .main-navigation ul li:nth-last-child(1) {
        padding-right: 0; }
        .main-navigation ul li:nth-last-child(1) a {
          padding-right: 0; }
    .main-navigation ul a {
      display: inline-block;
      padding: 15px 7px;
      color: #0e5aa5;
      font-weight: bold;
      font-size: 1.8rem; }
      .main-navigation ul a:hover, .main-navigation ul a.active {
        text-decoration: none;
        color: #ef2463; }
  .main-navigation .mobile-navigation-trigger {
    font-size: 3rem; }

.hero-carousel {
  height: 360px;
  background: #0e5aa5; }

.secondary-carousel {
  padding: 15px 0; }
  .secondary-carousel .slide {
    padding: 10px 80px;
    text-align: center;
    position: relative; }
    @media (max-width: 768px) {
      .secondary-carousel .slide {
        padding: 10px 50px; } }
  .secondary-carousel .owl-prev,
  .secondary-carousel .owl-next {
    transition: all 0.33s;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #0e5aa5 !important;
    display: block;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    left: 0; }
    .secondary-carousel .owl-prev:hover,
    .secondary-carousel .owl-next:hover {
      background: #ef2463 !important; }
  .secondary-carousel .owl-next {
    right: 0;
    left: auto; }

.introduction {
  padding: 15px 0;
  text-align: center;
  position: relative; }
  @media (min-width: 768px) {
    .introduction {
      padding: 20px 80px; } }

.hero {
  width: 100%;
  display: block; }

.pod {
  min-height: 290px;
  background: #0e5aa5;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.09); }
  @media (min-width: 768px) {
    .pod {
      margin-bottom: 30px; } }

.footer {
  height: 225px;
  position: relative;
  border-bottom: 10px solid #cccccc;
  background: #0e5aa5; }
  .footer ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0 10px 0; }
    .footer ul li {
      display: inline; }
      .footer ul li a {
        display: inline-block;
        color: #ffffff;
        font-size: 1.5rem;
        padding: 10px 12px; }
        .footer ul li a:hover {
          text-decoration: none; }
      @media (max-width: 768px) {
        .footer ul li.not-link {
          display: block; } }
  .footer .tel-link {
    color: #ffffff; }
    .footer .tel-link:hover {
      text-decoration: none; }
  .footer .copyright {
    text-align: center;
    padding: 30px 0 0 0;
    margin-bottom: 0;
    color: #ffffff;
    font-size: 1.5rem; }
  .footer .address {
    color: #ffe6d0;
    font-size: 1.5rem;
    text-align: center; }
  @media (min-width: 768px) {
    .footer {
      border-bottom: 20px solid #dddddd;
      background: url("/images/bg-footer.png") top right no-repeat #0e5aa5; }
      .footer .copyright {
        padding: 12px 45px 0 0;
        float: left; }
      .footer ul {
        padding: 0;
        justify-content: flex-start; }
        .footer ul li {
          display: inline;
          padding: 0 10px 15px 0; }
          .footer ul li:first-child a {
            padding-left: 0; }
      .footer .address {
        text-align: left; } }

.skirt {
  position: absolute;
  width: 255px;
  height: 150px;
  background: url("/images/bg-footer-fruit.png") 0 0 no-repeat;
  background-size: cover;
  bottom: -15px;
  left: 50%;
  margin-left: -126px;
  margin-bottom: 5px solid #ffffff;
  display: none; }
  @media (min-width: 768px) {
    .skirt {
      display: block; } }

.hero {
  background-size: cover;
  height: 360px;
  background-position: center center; }

.italics * {
  font-family: kaushan_scriptregular !important;
  font-size: 3rem !important; }

.member-image,
.news-image {
  margin-bottom: 15px; }
  .member-image img,
  .news-image img {
    display: block;
    width: 100%; }
  @media (min-width: 768px) {
    .member-image,
    .news-image {
      margin-bottom: 45px; } }

.contact-image {
  margin-bottom: 10px;
  text-align: center; }
  .contact-image img {
    display: inline-block; }
  @media (min-width: 768px) {
    .contact-image {
      margin-bottom: 30px; } }

@media (max-width: 768px) {
  .member-image {
    text-align: center; }
    .member-image img {
      width: auto;
      max-width: 100%;
      display: block;
      margin: 0 auto; } }

.contact-form,
.contact-detail,
.news-detail,
.member-detail {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .contact-form,
    .contact-detail,
    .news-detail,
    .member-detail {
      margin-bottom: 45px; } }

.member-address {
  margin-bottom: 0px; }
  @media (min-width: 768px) {
    .member-address {
      margin-bottom: 45px; } }

@media (min-width: 768px) {
  .member-detail {
    padding-top: 30px; } }

.news-detail {
  position: relative; }
  .news-detail .download-pdf-link {
    font-weight: bold;
    margin-bottom: 15px;
    display: inline-block; }
  @media (min-width: 768px) {
    .news-detail {
      padding-left: 60px; }
      .news-detail .download-pdf-link {
        position: absolute;
        left: 10px;
        top: 7px;
        text-indent: -9000px;
        background-image: url("/images/download-pdf.png");
        background-position: 0 0;
        background-repeat: no-repeat;
        width: 40px;
        height: 53px;
        background-size: cover; }
        .news-detail .download-pdf-link i {
          display: none; } }
  .news-detail .date {
    margin-top: -12px;
    margin-bottom: 10px;
    font-size: 1.8rem; }
    @media (min-width: 768px) {
      .news-detail .date {
        margin-bottom: 30px; } }
  .news-detail [data-story="excerpt"],
  .news-detail [data-toggle="expand"] {
    display: block; }
    .news-detail [data-story="excerpt"] > i,
    .news-detail [data-toggle="expand"] > i {
      margin-left: 15px; }
  .news-detail [data-story="full-story"],
  .news-detail [data-toggle="collapse"] {
    display: none; }
    .news-detail [data-story="full-story"] > i,
    .news-detail [data-toggle="collapse"] > i {
      margin-left: 15px; }
  .news-detail.full [data-story="excerpt"],
  .news-detail.full [data-toggle="expand"] {
    display: none; }
  .news-detail.full [data-story="full-story"],
  .news-detail.full [data-toggle="collapse"] {
    display: block; }

.contact,
.news,
.member {
  float: left;
  padding-top: 15px;
  width: 100%; }
  @media (min-width: 768px) {
    .contact,
    .news,
    .member {
      padding-top: 45px;
      border-top: 1px solid #f2f2f2; } }

.contact-form label {
  display: none; }

.contact-form textarea {
  resize: none;
  height: 200px; }

.contact-form .error-span {
  color: red;
  margin-top: 3px;
  margin-bottom: -5px;
  font-size: 1.3rem;
  display: none; }

.contact-form .error input {
  border-color: red; }

.contact-form .error .error-span {
  display: block; }

@media (min-width: 768px) {
  .contact-form .error-span {
    margin-top: -10px;
    margin-bottom: 2px; }
  .contact-form input::placeholder {
    color: #ffffff; }
  .contact-form label {
    display: block;
    padding-top: 5px; }
    .contact-form label span {
      color: gray;
      font-weight: normal; }
  .contact-form input,
  .contact-form textarea {
    margin-bottom: 12px; } }

#menu {
  background: #ffffff;
  text-transform: uppercase; }
  #menu a {
    color: #282828;
    font-size: 1.5rem;
    padding: 15px 40px; }
